@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

*{
    margin: 0;
    padding: 0;

}
.header
    {
        background-color:beige;
        margin-bottom: 0px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        padding-bottom: 10px;
        
    }

.header a{
    color: rgb(53, 213, 157);
        text-decoration:none;
        margin: right 30px;
        font-family:font-family'Edu TAS Beginner', cursive;
        font-size: 18pt;
        padding-bottom: 10px;
        
}
a:hover{
    color:rgb(53, 213, 157) ;
    text-decoration: underline;
    background-color: white;
}
.background{
    text-align: center;
    padding-top:10px;
    padding: bottom 0%;
    box-sizing: content-box;
}
.background p{
    padding-top: 10px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: content-box;
}


h2{
    padding: 20px;
}
.section-box p{
    text-align:jus;
    padding: 10px;
}
.section-box {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding-bottom: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
}


.slider{
    flex-direction: column;
    float: right;
    margin: 10px;

}

.container text{
    margin: 150px auto;
    width: 50%;
    padding: 8px;
    
}
.slider-container {
    position:inherit;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.slider {
    display:grid;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 50%;
}

img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}


.footer
{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: rgb(53, 213, 157);
    background-color:beige;
    position:absolute;
    text-align: center;
    padding-top: 45px;
    margin-top: 0%;

}